*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background-color: #39F4F2;
	scroll-behavior: smooth;
}

/****************** Navigation bar************************************** */
.Navbar{
	box-shadow: 0 0 20px;
	background-color: #fcba03;
	
	
}
.navlink{
	padding: 10px 20px;

}
.navlink a{
	color: black;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
}
.navlink a:hover{
	color: white;
	transition: 0.5s;
}
/* ****************************Banner*************************************** */
.main-1{
	margin-top: 13%;
}
.main-2{
	color: #E34278;
}
.heading{
	font-size: 60px;
	font-weight: 600;
}
.heading-1{
	font-size: 40px;
	font-weight: 400;
}
.heading-2{
	font-size: 40px;
	font-weight: 600;
	padding: 10%;

}
@media screen and (max-width: 992px) {
	.heading{
	font-size: 50px;
	font-weight: 600;
}
  .heading-1{
	font-size: 30px;
	font-weight: 400;
}
.heading-2{
	font-size: 25px;
	font-weight: 400;
	padding: 15%;
}
}

.paragraph{
	font-weight: 400;
	font-size: 35px;
}
@media screen and (max-width: 992px){
	.paragraph{
	font-weight: 400;
	font-size: 30px;
}
}
@media screen and (max-width: 668px){
	.paragraph{
	font-weight: 400;
	font-size: 25px;
}
}
.image img{
	width: 100%;
}
.icon-1{
	font-size: 35px;
	font-weight: 600;
}
.btn-1{
	color: black;
	border: 2px solid black;
	border-radius: 20px;
	transition: 0.5s;


}
.btn-1:hover{
	background-color: #E34278;
	color: white;
	border: none;
	
}
.icon-2{
	justify-content: center;
	display: flex;
	color: black;
}
.fa-brackets-curly{
	font-size: 35px;
	color: black;
}
/*******************************************************Services css file*********************************************/
.image img{
	width: 100%;
	height: auto;
}
.btn-2{
	border: 1px solid black;
	border-radius: 20px;
}
.btn-2:hover{
	background-color: #39F4F2;
	border: none;
	border-radius: 20px;
}
.service{
	margin-top: 10px;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.service-card{
	background-color:#39F4F2;
	color: black;
	transition: 0.9s;
	border: 2px solid black;
	border-radius: 10px;

}
.service-card:hover{
	background-color: #E34278;
	border: none;
	color: white;
}
.text{
	height: 30vh;
	width: 100%;
	border-radius: 40px;
	border: 3px black;
	transition: 0.5s;
	background-color: #E34278;
}
.text:hover{
	box-shadow: 0 0 20px;
	background-color: #E34278;
}
@media screen and (max-width: 992px){
	.text{
	width: 100%;
	
}
}
/***********************************************************************profile-1*************************************************/
.profile-1{
	background-color: #E34278;
	background-position: center;
	transition: 0.5s;
	border-radius: 30px;

}
.profile-1:hover{
	background-color: #E34278;
	background-position: center;
	border-radius: 50px 0px 50px 0px;
	box-shadow: 0px 0px 10px;
}
@media screen and (max-width: 992px){
	.profile-1{
	width: 90%;

}
}
.name{
	font-size: 20px;
	font-weight: 400;
}
/*************************************************************Progress bar************************************************/
.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
    height: 12px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}
.progress:after{
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}
.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
/*    position: relative;*/
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}
.progress.orange:before{ border: 7px solid #fe3b3b; }
.progress.blue:before{ border: 7px solid #1a4966; }
.progress.green:before{ border: 7px solid #53aa2c; }
.progress.purple:before{ border: 7px solid #66406f; }
.progress.orange .progress-value{
    border: 5px solid #fe3b3b;
    color: #fe3b3b;
}
.progress.blue .progress-value{
    border: 5px solid #1a4966;
    color: #1a4966;
}
.progress.green .progress-value{
    border: 5px solid #53aa2c;
    color: #53aa2c;
}
.progress.purple .progress-value{
    border: 5px solid #66406f;
    color: #66406f;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}
/************************************Contact Page*********************************************************/
.btn-3{
	border: 2px solid black;
	background-color: none;
}
.btn-3:hover{
	border: 1px solid black;
	background-color: #E34278;
	border: none;
	border-radius: 5px;
}
.icon-3{
	font-size: 30px;
	font-weight:800;
}
.paragraph-1{
	font-size: 20px;
	font-weight: 400;
}
/********************************Footer Page***************************************************************/
@media screen and (max-width:992px){
	.footer{
	padding-bottom: 30px;
}
}
.heading-4{
	font-size: 40px;
	font-weight: 600;
}
@media screen and (max-width: 992px){
	.heading-4{
	font-size: 30px;
	font-weight: 600;
}
}
.footer-1{
	background-color: #E34278;
	height: 30vh;
	border-radius: 30px;
}
.footer-1:hover{
	box-shadow: 0 0 20px;
	transition: 0.7s;
}
.email{
	border: 1px solid black;
	border-radius: 20px;
}
@media screen and (max-width: 992px){
	.email{
		width: 100%;
	}
}
.text-white{
	border-radius: 20px;
}
.btn-3{
	background-color: #39F4F2;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	background: yellow;
	border-radius: 10px;
}